/* Structure */


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: beige;
}

#content {
    width: 97%;
    margin: auto;
}

#main-header h1 {
    text-align: center;
    padding-top: 10px;
    color: rgb(17, 0, 92);
}

#sidebar {
    padding: 5px;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
}



/* Navigation */

#sidebar {
    background-color: cadetblue;
    color: white;
}

#sidebar ul li {

    background: rgb(59, 59, 105);
    color: white;
    border-bottom: 1px solid white;
}


#main-nav ul,
#quick-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#main-nav ul {
    background: rgb(64, 3, 51);
    font-size: large;

}

#main-nav li {
    padding: 10px;
    border-bottom: 1px solid white;
    text-align: center;

}

#main-nav a {
    color: rgb(252, 247, 247);
    border-color: white;
    text-decoration: none;
}

.title h2 {
    text-align: center;
    background: rgb(32, 32, 86);
    color: whitesmoke;
    margin: 0;
}

.title img {
    display: block;
    margin: auto;
    width: 500px;
    height: 400px;

}

.idea {
    margin-top: 10px;
    background: teal;
}

#ideas img {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

#ideas p,
#ideas h2 {
    color: white;
    margin: 5px;
}

#footer {
    text-align: center;
    padding: 10px;
    background: rgba(93, 1, 85, 0.57);
    color: aliceblue;
}

/* 
    NAACP VP
    PIT UN Founding and Organizational
    TA for 247
    Linkedin + Content Mgmt (orgs + personal)
    DoO Colorstack
    TA
    Capstone 
    Cinematography + Photography
    Courses for Premier + Cinematography
    Exercise
    Diet
    Instrument Practice
    Life Management (car, room, house)
    Classes

    ADHD & Life Coach

*/


/* Typography */



/* Responsive Design */
@media (min-width: 800px) {
    .columns {
        display: flex;
    }

    #sidebar {
        flex: 1;
    }

    #info {
        flex: 4;
    }

    #titles {
        display: flex;
        padding: 10px;
    }

    .title {
        flex: 1;
    }

    .title img {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    /* Makes each idea: image | text | image */
    .idea {
        display: flex;
    }

    .idea img {
        width: 20%;
        height: 200px;
        object-fit: cover;
        margin: 0;
    }

    .idea-text {
        flex: 1;
    }
}