* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#content {
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header contents */
#top-header {
    display: none;
}

#main-header {
    position: sticky;
    top: 0;
    padding-left: 25px;
    padding-top: 14px;
    padding-bottom: 8px;
    background: black;
    color: white;
    margin: 0;
    width: 100%;

}

#main-header h2 {
    padding-top: 16px;
    margin: auto;
    font-weight: 200;
}


#logo {
    width: 100%;
    max-width: 200px;
    max-height: 100px;

}

#subheader {
    display: none;
}

/* Responsive header section*/

@media(min-width: 1100px) {

    /* Top header */
    #top-header {
        display: block;
        background-color: black;
        margin: 0;
    }

    #top-header ul {
        list-style-type: none;
        margin: 0;
        padding-left: 65px;
        padding-top: 10px;
        text-align: center;
    }

    #top-header li {
        display: inline;
    }

    #top-header li:not(:last-child)::after {
        content: " | ";
        color: white;

    }

    #top-header a {
        text-decoration: none;
        color: white;
        font-size: .6em;
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    #toolbar-nav {
        display: none;
    }

    /* Center header */
    #main-header {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;

        padding-left: 70px;
        padding-top: 14px;
        padding-bottom: 25px;
        background: black;
        color: white;
        margin: 0;
        width: 100%;

    }

    #main-header h2 {
        padding-top: 16px;
        margin: 0 20px 0 auto;
        font-weight: bold;
        font-size: xx-large;
    }

    #main-header h2 {
        padding-top: 10px;
        font-size: 2em;
        padding-right: 40px;
    }


    #logo {
        width: 100%;
        max-width: 260px;
        max-height: 160px;

    }

    /* Sub header */
    #subheader {
        position: sticky;
        top: 90px;
        display: block;
        background: #73000A;
        padding-right: 80px;
    }

    #subheader nav {
        display: flex;
        width: 100%;
    }

    #subheader ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        width: fit-content;
        margin: 0 0 0 auto;
        padding: 0;
    }

    #subheader li {
        display: flex;
    }

    #subheader a {
        text-decoration: none;
        color: white;
        padding: 8px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #subheader a .material-symbols-outlined {
        font-size: 32px;
    }

    #hero {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}

/* End header responsive section */

/* Mobile toolbar */

#toolbar-nav {
    position: absolute;
    top: 4%;
    right: 4%;
}

#toolbar-nav ul {
    list-style-type: none;
}

#toolbar-nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

#toolbar-nav li {
    display: inline-block;
}

#toolbar-nav a .material-symbols-outlined {
    font-size: 32px;
}

/* Hero */


.img-block {
    display: block;
    width: 100%;
}



/* Body content */

#mission {
    font-size: 1.3em;
    margin: 50px;
    text-align: left;
    line-height: 2;
}

@media(min-width: 1100px) {
    #mission {
        max-width: 790px;
        margin: 40px auto;
        padding: 0 20px;
        line-height: 1.8;
    }

}


/* Education Section */
.float-section {
    position: relative;
}

.float-block {
    position: absolute;
    background: #73000A;
    bottom: 60%;
    margin: 8px;
    padding: 35px 30px;
}

.float-block h1 {
    margin: 0 0 30px;
    color: white;
    font-size: 2.2em;
}

.float-block p {
    margin: 0 0 35px;
    color: white;
    line-height: 1.8;
}

.float-block button {
    display: block;
    background-color: black;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px 10px;

}

#edu-below-content {
    padding-top: 180px;
    background: white;
}

#edu-below-content img {
    position: relative;
    left: 190px;
    background: white;
    width: 47%;
    border-radius: 60%;
    display: inline-block;

}

#edu-below-content h3 {
    margin: 20px 70px 20px;
    font-family: serif;
    color: #73000A;
    line-height: 2;
    font-weight: 510;
    font-size: 1.3em;
    display: inline-block;

}

#edu-below-content p {
    margin-left: 72px;
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.767);
    display: inline-block;

}

@media(min-width: 1100px) {
    #edu-below-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 100px;

    }

    #edu-below-content img {
        position: relative;
        left: 50px;
        width: 20%;
    }

    #edu-below-content h3 {
        width: 50%;
        margin: 20px 200px 0;
    }

    #edu-below-content p {
        width: 50%;
        margin: 0 40px 40px 50%;
    }

    #education-image {
        height: 600px;
        object-fit: cover;
        object-position: center;
    }

    .float-block {
        position: absolute;
        background: #73000A;
        margin: 8px;
        padding: 35px 30px;
    }

    .float-block p {
        margin: 0 0 35px;
        color: white;
        line-height: 1.8;
        padding-right: 50px;
    }

    #education-float .float-block {
        bottom: 38%;
        left: 50%;
        margin-right: 60px;
    }
}


.tri-box {
    width: 100%;
}

.tri-box img {
    display: block;
    width: 100%;
    height: auto;
}

#research-below-content h3 {
    color: #73000A;
    font-size: 1.5em;
}

#research-float .float-block {
    position: absolute;
    background: #73000A;
    padding: 35px 30px;
    max-width: 790px;
    bottom: 82%;
}

#research-below-content {
    background: white;
    gap: 40px;
    padding: 100px 30px;
    padding-top: 300px;
}

@media(min-width: 1100px) {
    #research-below-content {
        background: white;
        gap: 40px;
        padding: 100px 130px 50px 130px;
    }

    #research-float .float-block {
        position: absolute;
        background: #73000A;
        padding: 35px 30px;
        max-width: 790px;
        bottom: 50%;
        left: 4%;
    }
}


#institutes-float .float-block {
    position: absolute;
    background: #73000A;
    padding: 35px 30px;
    left: 4%;
    right: 4%;
    bottom: -200px;
}

#institutes-float {
    background: white;
    margin-bottom: 180px;
}

@media(min-width: 1100px) {
    #institutes-float .float-block {
        position: absolute;
        background: #73000A;
        padding: 35px 30px;
        max-width: 560px;
        bottom: -40px;
        left: 4%;
        right: auto;

    }

    #institutes-float {
        background: white;
        margin-bottom: 0px;
    }
}


#top-footer {
    margin-top: 270px;
    padding-top: 1px;
    background: #e4e4e4;
}

@media(min-width:1100px) {
    #top-footer {
        margin-top: 80px;
    }
}

#top-footer h1 {
    margin: 30px 0 20px;
    text-align: center;
    font-size: 2.7em;
    color: #73000A;
}

#top-footer p {
    text-align: center;

}

#top-footer a {
    color: #73000A;
}

#top-footer button {
    background: #73000A;
    color: white;
    border: 1px solid white;
}

#button-set-1 button {
    min-height: 52px;
    padding: 14px 28px;
}

#social-section .footer-social button {
    background: black;
    min-height: 40px;
    padding: 10px 14px;
}

#button-set-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    width: 100%;
    margin: auto;
    padding-bottom: 100px;
}

#top-footer h3 {
    color: #73000A;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#social-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 20px 40px;
}

#social-section .footer-social {
    text-align: center;
}

#top-footer-links {
    width: 100%;
}


#top-footer-links ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#top-footer-links li {
    width: 33.333%;
}

#top-footer-links a {
    text-decoration: none;
}

#address {
    width: 100%;
    text-align: center;
}

/* Footer Links */
#footer-links-title img {
    margin-top: 20px;
}

#footer-links header {
    position: relative;
}

/* Footer icons */
.footer-social {
    list-style-type: none;
    width: fit-content;
    margin: auto;
}

.footer-social li {
    display: inline-block;
}

.footer-social .material-symbols-outlined {
    font-size: 48px;
    color: #73000A;
}



#footer-links {
    background: #73000A;
    color: white;
}

#footer-links a {
    color: white;
}

#footer-links .footer-social .material-symbols-outlined {
    color: white;
}

#footer-links-title {
    width: fit-content;
    margin: auto;
    align-items: center;
}

#footer-links-title>div:nth-child(2) {
    display: none;
}

#footer-links-title h1,
#footer-links h2 {
    margin: 0;
    padding-left: 10px;
}

#footer-links h3 {
    text-transform: uppercase;
    line-height: 1.2;
}

#footer-links .columns section {
    padding: 10px;
}

#footer-links section ul {
    column-width: 200px;
    column-gap: 30px;
    padding: 0;
    line-height: 2.3;

    list-style-type: none;
}

#footer-links section a {
    text-decoration: none;
}

/* Footer Copy */

#footer-copy {
    background: black;
    color: white;
    border-top: 1px solid white;

}

#footer-copy li:not(:last-child)::after {
    content: " | ";
    color: white;

}

#footer-copy a {
    color: white;
    text-decoration: none;
}

#footer-copy ul {
    margin: 0;
    padding: 12px 6%;
    list-style: none;
}

#footer-copy li {
    display: inline-block;
    margin-right: 20px;
}

/* Typography */


/* columns for all devices */
.columns-mobile {
    display: flex;
}

/* Responsive */

@media(min-width: 1100px) {
    .columns {
        display: flex;
    }

    #button-set-1 button {
        flex: 0 1 auto;
        min-height: 70px;
        padding: 22px 40px;
    }

    #button-set-1 {
        gap: 80px;
    }

    #social-section {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: start;
        max-width: 1400px;
        margin: auto;
    }

    #social-section .footer-social {
        flex: 2;
        width: auto;
        margin: 0;
    }

    #social-section .footer-social h3 {
        text-align: left;
    }

    #social-section .footer-social button {
        min-width: 180px;
        min-height: 54px;
        padding: 15px 20px;
        position: absolute;
        left: 65px;
    }

    #top-footer-links ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 0;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #top-footer-links {
        flex: 1.2;
        width: auto;
    }

    #top-footer-links li {
        width: 50%;
    }

    #address {
        flex: 1;
        width: auto;
        text-align: left;
    }

    #footer-links-title {
        margin: 0;
    }

    #footer-links-title #logo {
        width: 420px;
        max-width: 45vw;
        max-height: none;
    }

    #footer-links>header {
        padding: 20px 5%;
    }

    #footer-links>.columns {
        padding: 0 5% 50px;
        gap: 40px;
    }

    #footer-links .columns section {
        padding: 10px 0;
    }

    #footer-links .footer-social {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    .five {
        flex: 5;
    }

    .six {
        flex: 6;
    }

    #footer-copy ul {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    #footer-copy li {
        margin-right: 0;
    }
}