/* Structural */
* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(27, 52, 40);
    /* fills any leftover space */
}

#header h1 {
    margin: 30px 0 20px;
    text-align: center;
}

#name {
    font-style: italic;
    color: white;
}

#content {
    width: 70%;
    margin: auto;
    /* center on page */
}

/* Navigation */
a {
    text-align: center;
    display: inline;
    text-decoration: none;
    color: #ccd8ff;
    /*color: #f7b448;*/
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    background-color: #0000008d;
    font-weight: bold;
}

a:hover {
    text-shadow: 0 0 4px #3b7b5fd0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: translateY(-3px);

}

/* Typography */
/*#description {
    font-size: medium;
    color: rgb(255, 177, 83);
    margin: 40px;
}
*/
h1 {
    color: rgb(254, 250, 250);
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}


.section-title {
    display: inline;
    text-align: center;
    font-style: italic;

    color: rgba(255, 169, 19, 0.855);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.482);
}

p,
li {
    color: #eeeeee;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}





.portfolio-card {
    /* background: rgba(0, 0, 0, 0.447); */
    background: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.47)), url(images/untitled1981.jpeg) fixed;
    margin: 40px;
    padding: 14px;
    text-align: center;
    border-radius: 18px;
    min-width: 0;
}

.portfolio-card img {
    display: block;
    margin: auto;
    width: 300px;
    height: 150px;
    max-width: 100%;
    object-fit: cover;

}

.portfolio-card p {
    text-align: left;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);

}

.portfolio-card a {
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}

.portfolio-card a.image-link {
    margin-bottom: 20px;
    padding: 0;
    background: none;
    text-shadow: none;
}

.portfolio-card a.image-link img {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.portfolio-card a.image-link:hover img {
    transform: translateY(-3px);
}


/* Responsive Design */

@media(min-width:1100px) {

    #assignments,
    #projects {
        display: flex;
        flex-wrap: wrap;
    }

    #name {
        position: absolute;
        top: 0;
        left: 80px;
    }

    .portfolio-card {
        flex: 1 1 300px;
    }

    .portfolio-card img {
        max-width: 100%;
        height: 150px;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    .four {
        flex: 4;
    }

    .five {
        flex: 5;
    }

    .six {
        flex: 6;
    }
}